<div class="container">
    <div [ngStyle]="{'grid-column': selectedDocument != null ? '1/4' : '1 / 6'}">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created On</th>
                <th>Last Updated</th>
                <th class="last-column">Status</th>
            </tr>
            <tr *ngFor="let document of documentList" (click)="onClickOfTable(document)"
                [ngStyle]="{'background-color': selectedDocument && selectedDocument.id ===  document.id ? '#E2E7FD' : 'white' }">
                <td>
                    <app-document-table-name [name]=document.name [docTypeName]=document.doctype>
                    </app-document-table-name>
                </td>
                <td>{{document.description}}</td>
                <td>
                    <app-document-table-date [primaryText]="document.createdOn" [secondaryText]="document.createdTime">
                    </app-document-table-date>
                </td>
                <td>
                    <app-document-table-date [primaryText]="document.lastUpdatedBy"
                        [secondaryText]="document.lastUpdated"></app-document-table-date>
                </td>
                <td class="status-column">
                    <app-document-table-status [status]="document.status"></app-document-table-status>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="selectedDocument" style="grid-column:4/6;">
        <div class="side-container">
            <div style="display: flex; justify-content: space-between;">
                <i class="fa fa-chevron-left" style="font-size: 32px;" (click)="onClickOfBackButton()"></i>
                <i class="fa fa-close" style="font-size: 32px;" (click)="onClickOfBackButton()"></i>
            </div>
            <div style="display: grid; grid-template-columns: repeat(6,1fr); padding-top: 24px;">
                <div style="grid-column: 1/2;">
                    <img style="width: 64px;" src="../../assets/zipIcon.png">
                </div>
                <div style="grid-column: 2/6;">
                    <div>{{selectedDocument.description}}</div>
                    <p>{{selectedDocument.size}}</p>
                    <p>{{selectedDocument.doctype}}</p>
                </div>
            </div>
        </div>
    </div>
</div>