<!-- <style>
    #container {
    display: flex;
    justify-content: stretch;
    background-color: rgb(185, 185, 241);
    flex-direction: row;
}

button {
    height: 48px;
    width: 144px;
    background-color: rgb(230, 2, 255);
    border-radius: 8px;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

@media (max-width: 650px) {
    #container {
        flex-direction: column;
    }
}
</style>
<div>
    <div id="container">
        <div><img src="../../assets/zipIcon.png"></div>
        <div style="width: auto; padding: 24px;">
            <div  style=" display: flex; justify-content: space-evenly; width: 100%; ">
                <button>
                    Job
                </button>
                <button>
                    Career
                </button>
                <button>
                    Business
                </button>
                <button>
                    Know How
                </button>
            </div>
            <h1>
                How to get a job?
            </h1>
            <h2>
                Excerpt: Learn from the best CEO's how to show yourself in the best possible way
            </h2>
            <a href="/how-to-get-a-job/">
                Read more
            </a>
        </div>
    </div>
</div> -->





<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        background-color: #27db8d;
    }

    button {
        height: 38px;
        width: 80px;
        background-color: white;
        border-radius: 8px;
        color: black;
        font-weight: 900;
        font-size: 12px;
        margin: 8px;
        border: none;
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    img {
        width: 100%;
        height: auto;
    }
</style>

<div class="container">
    <div>
        <img src="../../assets/zipIcon.png" alt="cat">
    </div>
    <div style="padding-left: 8px;">
        <div class="tag-container">
            <button>
                Job
            </button>
            <button>
                Career
            </button>
            <button>
                Business
            </button>
            <button>
                Know How
            </button>
        </div>
        <h2>
            How to get a job?
        </h2>
        <h4>
            Excerpt: Learn from the best CEO's how to show yourself
        </h4>
        <h4>
            in the best possible way
        </h4>
        <a href="/how-to-get-a-job/">
            Read more
        </a>
    </div>
</div>